<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="description" content="Tool to map Apache log filenames to their corresponding dates. Quickly find log dates for better log analysis.">
    <meta name="author" content="Laurie Reinette">
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="{{ app.request.uri }}">

    <link rel="icon" href="{{ asset('favicon.ico') }}">

    <!-- Open Graph -->
    <meta property="og:title" content="Log filenames to date">
    <meta property="og:description" content="Tool to map Apache log filenames to their corresponding dates. Quickly find log dates for better log analysis.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ app.request.uri }}">
    <meta property="og:image" content="{{ asset('images/og-image.png') }}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">

    {% block stylesheets %}{% endblock %}
    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body class="d-flex flex-column min-vh-100">
{% block body %}{% endblock %}
<footer class="mt-auto py-3 text-center text-muted small">
    © 2025 Laurie Reinette — All rights reserved
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
</body>
</html>
